body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #efefef;
}

.container {
  perspective: 40px;
  &__card {
    width: 20em;
    height: 18em;
    background-color: white;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;

    &__img {
      border: solid white 15px;
      background-image: url("https://avatars2.githubusercontent.com/u/21203415?s=400&u=5ddbd86cd958c8bbcb841fa8e5c1eae87a3efc0c&v=4");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    &__overlay {
      opacity: 0;
      border: solid white 15px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 0.4s;
      z-index: 200;
      &:hover {
          opacity: 1;
      }
    }
  }
}

.hidden {
  display: none;
}

#helper {
  color: white;
  padding: 0.2em;
  border-radius: 5%;
  background-color: grey;
  position: absolute;
  z-index: 0;
}
